<div class="wrapper">
  <div class="box">
    <h3>New Product</h3>
    <div class='errors' *ngIf='errors'>
        <p class="errs" *ngFor='let e of errors'>{{e.message}}</p>
    </div>
    <div class='error' *ngIf="name.invalid && (name.touched)"
    >
        <p *ngIf='name.errors.required'>Name must be filled in</p>
        <p *ngIf='name.errors.minlength'>Product name must be at least three characters</p>
    </div>
    <div class='error' *ngIf="qty.invalid && (qty.dirty)"
    >
        <p *ngIf='qty.errors.required'>Quantity must be filled in</p>
        <p *ngIf='qty.errors.pattern'>Quantity must be 0 or higher</p>
    </div>
    <div class='error' *ngIf="price.invalid && (price.dirty)"
    >
        <p *ngIf='price.errors.required'>Price must be filled in</p>
        <p *ngIf='price.errors.pattern'>Price must be 0 or greater</p>
    </div>
    <form (submit)='onSubmit()'>
      <tr>
        <td>Name:</td>
        <td><input type="text" name='name'
          required
          minlength="3"
          [(ngModel)]='product.name'
          #name='ngModel'>
        </td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td><input type="number" name='qty'
          required
          pattern="^[0-9][0-9]*$"
          [(ngModel)]='product.qty'
          #qty='ngModel'>
        </td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><input type="number" name='price'
          required
          pattern="^\s*(?=.*[0-9])\d*(?:\.\d{1,2})?\s*$"
          [(ngModel)]='product.price'
          #price='ngModel'>
        </td>
      </tr>
      <button (click)='reset()' >Reset</button>
      <button class="button" [disabled]='name.invalid || qty.invalid || price.invalid' type="submit" >Submit</button>
    </form>
  </div>
</div>